
.topicList-div{
    background-color: var(--blue);
    box-shadow:4px 4px 20px var(--boxshadow);
    border-radius: 20px;
    padding:15px;
    display: inline-block;
    font-size: 1rem;
    width: 12.5rem;
    margin-top: 40px;
    font-size: 0.9rem;
}

.topic-title{
    margin: 5px;
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    max-height: 3rem;
}

.topic-level{
    margin:5px;
    font-weight: 400;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 70%;
  }
 
  input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    background: var(--white);
  }

  input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 8px;
    border-radius: 9px;
    background:var(--pink);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }

  input[type=range]::-webkit-slider-thumb:hover{
    scale:1.2;
  }

  .check-list{
    display: flex;
    justify-content: center;
    margin:10px;
  }

  img{
    height: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
  }

  img:hover{
    scale: 1.2;
  }

  .topicList-div button{
    width: 2.5rem;
    margin-left: 10px;
    font-size: 0.8rem;
  }